# vscode directory
.vscode
# git directory
.git
# node_modules directory
node_modules
# all files with unit tests
**/*.spec.ts
# directory with e2e tests
test
# Readme files
README.md
# prettier config
.prettierrc
# gitignore 
.gitignore
# eslint config
.eslintrc.js
